parameters:
    level: max
    checkMissingOverrideMethodAttribute: true
    treatPhpDocTypesAsCertain: false
    checkBenevolentUnionTypes: true
    reportWrongPhpDocTypeInVarTag: true
    reportAnyTypeWideningInVarTag: true
    checkMissingCallableSignature: true
    reportAlwaysTrueInLastCondition: true
    checkImplicitMixed: true
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses:
            - "PHPUnit\\Framework\\ExpectationFailedException"
            - "Psl\\Exception\\ExceptionInterface"
    parallel:
        maximumNumberOfProcesses: 1
    stubFiles:
        - resources-dev/stubs/Symfony/Component/Filesystem/Path.php
includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/php-standard-library/phpstan-extension/extension.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
