includes:
	- phpstan.base.neon
parameters:
    tmpDir: build/phpstan/src
    paths:
        - src
        - tests
        - tools
        - resources
    excludePaths:
        - resources/docs/_examples
        - tests/integration/Io/TemporaryFileWriterGuesser/
    ignoreErrors:
        -
            message: "#Method .* overrides method .* but is missing the \\#\\[\\\\Override\\] attribute\\.$#"
            path: src/Generated/*
            reportUnmatched: false
        -
            message: "#^Method .* throws checked exception#"
            path: tests/*
        -
            message: "#^Call to internal method PHPUnit\\\\.*#"
            paths:
                - tests/*
                - tools/PHPUnit/*
            identifier: method.internal
            reportUnmatched: false
        -
            message: "#^Catching internal interface PHPUnit\\\\.*#"
            paths:
                - tests/*
                - tools/PHPUnit/*
            identifier: catch.internalInterface
            reportUnmatched: false
        -
            message: "#^Class .* has an uninitialized readonly property \\$.*\\. Assign it in the constructor\\.$#"
        -
            message: "#^Readonly property .* is assigned outside of the constructor\\.$#"
        -
            message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert::assertInstanceOf\\(\\).*#"
            paths:
                - tests/*
            identifier: staticMethod.alreadyNarrowedType
        -
            message: "#^PHPDoc tag @var with type list<Twint\\\\Sdk\\\\InvocationRecorder\\\\Value\\\\Invocation> is not subtype of native type \\*NEVER\\*\\.#"
            paths:
                - tests/integration/InvocationRecorder/InvocationRecordingClientTest.php
            identifier: varTag.nativeType
        -
            message: "#^Method Twint\\\\Sdk\\\\Value\\\\Environment::(appSchemeHost|getServiceHost)\\(\\) throws checked exception UnhandledMatchError.*#"
            paths:
                - src/Value/Environment.php
            identifier: missingType.checkedException
        -
            message: "#^Call to function Psl\\\\invariant\\(\\) with bool .* will always evaluate to false.$#"
            path: resources/config/soap.php
            reportUnmatched: false
        -
            message: "#^Call to function method_exists\\(\\) with Phpro\\\\SoapClient\\\\CodeGenerator\\\\Config\\\\Config and 'setMetadataOptions' will always evaluate to (false|true).#"
            path: resources/config/soap.php
        -
            rawMessage: 'Cannot call method withWsdlLoader() on mixed.'
            identifier: method.nonObject
            path: resources/config/soap.php
            reportUnmatched: false
        -
            rawMessage: 'Parameter #1 $options of static method Phpro\SoapClient\Soap\DefaultEngineFactory::create() expects Soap\ExtSoapEngine\ExtSoapOptions, mixed given.'
            identifier: argument.type
            path: resources/config/soap.php
            reportUnmatched: false
        -
            rawMessage: Class Phpro\SoapClient\Soap\Metadata\Manipulators\DuplicateTypes\IntersectDuplicateTypesStrategy not found.
            identifier: class.notFound
            path: tools/bundle-dependencies.php
            reportUnmatched: false
