<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheDirectory="build/cache/phpunit"
         executionOrder="random"
         requireCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         failOnRisky="true"
         colors="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="">tests/unit</directory>
            <exclude>tests/unit/Value/ValueTest.php</exclude>
            <exclude>tests/unit/Util/ComparableImpl.php</exclude>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/integration</directory>
            <exclude>tests/integration/IntegrationTest.php</exclude>
        </testsuite>
    </testsuites>
    <coverage>
        <report>
            <html outputDirectory="build/coverage/html"/>
            <clover outputFile="build/coverage/clover.xml"/>
            <text outputFile="php://stdout" showOnlySummary="true" showUncoveredFiles="true"/>
        </report>
    </coverage>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/Generated</directory>
        </exclude>
    </source>
    <extensions>
        <bootstrap class="Twint\Sdk\Tools\PHPUnit\VcrExtension" />
    </extensions>
    <logging>
        <junit outputFile="build/junit.xml"/>
    </logging>
</phpunit>
